.top-rating{
    margin-top: 7em;
}

.top-rating .icon{
    color: #f5f118;
}

.top-rating .caption-2{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Lobster', cursive;
    margin-bottom: 1em;
}

.top-rating hr{
    width: 120%;
}


.top-rating .card-caption{
    text-align: center;
    font-family: 'Kanit', sans-serif;
}


.top-rating .card img{
    max-width: 300px;
    max-height: 500px;
}